# Environment files
.env
.env.*
# Vartual Environment
chatvenv/

# Python
__pycache__/
*.pyc

# Node
node_modules/

chatbot.db

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
